<div id="paymentScreen" class="hidden-element">
    <div class="modal-box-custom">
        <h1 class="text-4xl font-black mb-2 uppercase">Scan to Pay</h1>
        <div class="bg-white p-4 rounded-3xl mb-6 mx-auto w-fit mt-4">
            <img id="qrCode" src="/static/assets/payment_qr.png">
        </div>
        <p id="displayOrderID" class="text-2xl font-mono font-black text-primary tracking-widest">--------</p>
        <div class="flex items-center justify-center gap-3 text-primary font-bold mt-4">
            <span class="loading loading-ring loading-md"></span>
            <span class="animate-pulse">WAITING...</span>
        </div>
    </div>
</div>

