<div id="setup" class="hidden-element">
    <div class="modal-box-custom">
        <h2 class="text-3xl font-black text-primary mb-8 uppercase">Select Shots</h2>
        <div id="shotSelectionGrid" class="grid grid-cols-3 gap-3 mb-10">
            <button class="num-btn btn btn-outline" data-shots="1">1</button>
            <button class="num-btn btn btn-outline" data-shots="2">2</button>
            <button class="num-btn btn btn-outline" data-shots="3">3</button>
            <button class="num-btn btn btn-outline btn-active btn-primary" data-shots="4">4</button>
            <button class="num-btn btn btn-outline" data-shots="5">5</button>
            <button class="num-btn btn btn-outline" data-shots="6">6</button>
        </div>
        <button id="startAppBtn" class="btn btn-primary w-full h-16 rounded-3xl font-black">LET'S SHOOT</button>
    </div>
</div>

