@layer base {
    * { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }
    body {
        margin: 0; color: var(--app-text);
        overflow: hidden; width: 100vw; height: 100vh;
        touch-action: none;
    }
    .hidden-element { display: none !important; }
    .no-scrollbar::-webkit-scrollbar { display: none; }
    .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
